.navbar {
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #212121;
  letter-spacing: 0.5px;
}
.navbar li {
  align-content: center;
}
.navbar li a {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: whitesmoke;
}
.navbar li a:hover {
  background-color: whitesmoke;
  color: #8b8e86;
}

.heading {
  color: #c8a3a3;
  letter-spacing: 2px;
  padding-top: 100px;
  padding-left: 50px;
}

.aboutsection{
    display: flex;
    justify-content: space-between;
}

.words{
  color: #d15a5a;
}
.image{
  width: 20%;
  margin: 50px 100px;
  border-radius: 50%;
}