.aboutsection {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  grid-template-areas: "text image";
}
.heading {
  margin: 0;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 500;
}
.shortbio{
  display: flex;
  flex-direction: column;
  grid-area: text;
}
.shortbio h3:nth-child(even){
  font-weight: 400;
  margin: 12px 0 0 0;
  font-size: 1rem;
  line-height: 24px;
}
.ptag{
  margin:0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: #a19c9b;
}
.ptaglasttwo{
  margin: 10px 0 0 0;
}
.shortbio p span{
  color: #fff;
}
span a{
  color: #00adb5;
  text-decoration: none;
  cursor: pointer;
}
.words {
  color: #00adb5;
}
.imgbackground{
  position: relative;
  width: 250px;
  height: 300px;
  background-color: #00adb5;
  border-radius: 8px;
}
.image {
  height: 300px;
  width: 250px;
  object-fit: fill;
  z-index: 1;
  border-radius: 8px;
  transform: rotatez(-3deg);
}
@media only screen and (max-width:900px){
  .aboutsection {
    margin: 0 20px;
  }
}
@media only screen and (max-width:650px){
  .aboutsection {
    margin: 0 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "text";
    gap: 10px;
  }
  .imgbackground{
    justify-self: center;
  }
  .shortbio{
    padding: 10px;
  }
}