.experience{
    padding: 160px 16% 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(10px);
}
.box{
    display: flex;
    flex-direction: column;
}
.fieldset{
    padding: 45px;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    border: 2px solid #343b31;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.fieldset:hover{
    transform: scale(1.05);
}
.legend{
    color: black;
    text-align:start;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.topcontent{
    display: flex;
    gap: 50px;
}
.companydetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.companyname, .companyposition{
    margin: 0px;
}
.positiondescription{
    color: #fff;
    font-size: 18px;
    text-align: justify;
    margin: 5px;
}

.logo{
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    border-radius: 50%;
    object-fit:fill;
}

.link{
    width: 2px;
    height: 2px;
}
@media only screen and (max-width: 750px){
    .experience{
        padding: 0px;
        margin: 70px 20px;
    }
    fieldset{
        padding: 20px;
        margin-bottom: 25px;
    }
    .positiondescription{
        font-size: 13px;
    }
    
}
@media only screen and (max-width: 450px){
    .topcontent{
        flex-direction: column;
        gap: 15px;
    }
    .fieldset{
        padding: 15px;
    }
    .legend{
        font-size: 20px;
    }
}