:root{
    --bg-color: #020312;
    --text-color: #fff;
    /* --main-color: #eb4a4a; */
    --main-color: #d15a5a;
    --second-color: gray;
    --other-color: #12141c;
    --h1-font: 5.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

section{
    padding: 160px 16% 90px;
}
.main-text{
    text-align: center;
}
.main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}
.main-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}
.box{
    padding: 45px;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    border: 2px solid #343b31;
    cursor: pointer;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}
.box p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    letter-spacing: 0.5px;
}

.cctlogo{
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    border-radius: 50%;
}


