* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Arial ,Garamond,  Helvetica, ;
}

html,
body {
  height: 0px;
  background: #212121;
}

.menubutton{
  font-size: clamp(10px, 15px, 20px);
  height: 40px;
  width: 250px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  color: whitesmoke;
  background: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease;
} 
.a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
} 

.menubutton:hover {
  background: #34b5ff;
  transform: scale(1.1);
}

.socialtext{
  padding: 50px 0px 20px 0px;
  color: whitesmoke;
  text-align:center;
} 

.socialwords{
  width: 100px;
  letter-spacing: 1px;
  font-size: 20px;
}

.social_media {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.soialmediabutton{
  background-color: #333;
  border-radius: 5px;
  padding: 11px;
  transition: color 0.3s ease;
  color: whitesmoke;
}


#x:hover {
    background: linear-gradient(to bottom, black,rgb(57, 56, 56))
}
#github:hover{
    background:linear-gradient(to bottom, black,rgb(133, 131, 131)) 
}
#linkedin:hover{
    background:linear-gradient(to bottom, #0077B5,#123e56);
}
#whatsapp:hover{
    background: linear-gradient(to bottom, #25D366,#156e36 ) ;
}
#email:hover{
    background:linear-gradient(to bottom, #ff0080, #7928ca);
}
