.soc_media {
    position: fixed;
    bottom: 0;
    max-width: 912px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 5px 0;
    z-index: 1000;
    background-color:rgba(0,0,0,0.09);
    backdrop-filter: blur(10px);
  }

  .soc_media a {
    padding: 10px 13px;
    display:flex;
    flex-direction: column;
    color: whitesmoke;
    transition: color 0.3s ease;
    border-radius: 5px;
  }
  .soc_media a:hover {
    color: #00adb5;
    transform: scale(1.3);
  }

  @media only screen and (max-width: 400px) {
    .soc_media{
      max-width: 390px;
      display: flex;
      justify-content: space-evenly;
      gap: 0px;
    }
  }