* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Garamond, Arial,'Times New Roman', Helvetica, sans-serif;
}

html,
body {
  display: grid;
  height: 0px;
  background: #212121;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu a {
  height: auto;
  width: auto;
  font-size: clamp(10px, 15px, 20px);
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 50px;
  color: whitesmoke;
  background: #333;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin: 10px 0px;
  letter-spacing: 1px;
  text-align: center;
  transition: 0.3s ease;
}

.menu a:hover {
  background: #34b5ff;
  transform: scale(1.1);
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("../photo/Background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
}

#social {
  margin-top: 60px;
  width: 500px;
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: 18px;
}
.social_media {
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.social_media a {
  padding: 13px;
  transition: color 0.3s ease;
  color: whitesmoke;
}

#x:hover {
    background: linear-gradient(to bottom, black,rgb(57, 56, 56))
}
#github:hover{
    background:linear-gradient(to bottom, black,rgb(133, 131, 131)) 
}
#linkedin:hover{
    background:linear-gradient(to bottom, #0077B5,#123e56);
}
#whatsapp:hover{
    background: linear-gradient(to bottom, #25D366,#156e36 ) ;
}
#email:hover{
    background:linear-gradient(to bottom, #ff0080, #7928ca);
}

.social_text{
  width: 300px;
  padding-top: 100px;
  font-size: 18px;
  color: whitesmoke;
} 