.navbar {
  position: fixed;
  top: 10px;
  max-width: 912px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(10px);
  letter-spacing: 0.5px;
  z-index: 1000;
}
.plogo {
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #171717;
}
.navbuttons {
  display: flex;
  justify-content: space-evenly;
}
.header {
  list-style: none;
}
.navbarlink {
  padding: 4px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: whitesmoke;
}
.navbarlink:hover {
  color: #00adb5;
}

.light-mode {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 650px) {
  .navbuttons {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    height: 50px;
  }
  .navbarlink {
    font-size: 0.88rem;
  }
}
