.title{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 60px 0 40px 0;
}
.main_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  color: #fff;
}

.projectimg {
  height: 230px;
  width: 100%;
  border-radius: 5px;
}
.projecttitle{
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.techstcak{
  font-size: 0.75rem;
  font-weight: 400;
  color: #00adb5;
  margin: 10px 0 0 0;
}

.projectdiscripction {
  margin: 10px 0 0 0;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  color: #a19c9b;
}
.links {
  margin: 10px 0 0 0;
  display: flex;
  gap: 20px;
  font-size: 0.88rem;
}
.links a{
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.links span{
  color: #00adb5;
  font-weight: 400;
}

  .project:hover {
    transform: translateY(-20px);
  }

@media only screen and (max-width: 900px) {
  .projectsection{
    margin: 0 20px;
  }
}
@media only screen and (max-width: 650px) {
  .main_div {
    grid-template-columns: 1fr;
  }
  .project{
    padding: 0 80px;
  }
}
@media only screen and (max-width: 500px) {
  .project{
    padding: 0;
  }
}
