::-webkit-scrollbar {
    display: none;
  }
  
.main_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    padding: 80px 0px;
    color: whitesmoke;
}


.project1{
    height: 100%;
    width: 400px;
    color: white;
    border-radius: 10px;
}

.project1 img{
    padding: 20px;
    height: 250px;
    width: 100%;
}
.project1 p{
    padding: 0px 15px 15px 15px;
    font-size: 18px;
    text-align: justify;
}
.project1 ul{
    padding: 0px 35px ;
}
.keypoints{
    display: flex;
    justify-content: space-around;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 10px;
}
.links a{
    /* padding: 20px; */
    text-decoration: none;
    color: whitesmoke;
}
.fieldset{
    padding: 10px;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    border: 2px solid #343b31;
    cursor: pointer;
}
legend{
    color: white;
    padding: 0 10px 0 10px;
    text-align:center;
    font-size: 22px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width:500px){
    .project1{
        margin: 0px 20px;
    }
    .project1 p{
        font-size: 14px;
    text-align: justify;
    }
    .project1 ul{
        font-size: 12px;
    }
}