::-webkit-scrollbar {
    display: none;
  }
  
.main_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    margin-top: 80px;
    padding: 10px;
    color: whitesmoke;
}

.project1{
    height: 700px;
    width: 400px;
    background-color:#1f1f1f;
    border-radius: 10px;
}

.project1 h2{
    text-align: center;
    margin: 10px;
}
.project1 img{
    padding: 20px;
    height: 40%;
    width: 100%;
}
.project1 p{
    padding: 0px 15px 15px 15px;
    font-size: 20px;
    text-align: justify;
}
.project1 ul{
    padding: 0px 35px ;
}
.links{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.links a{
    padding: 20px;
    text-decoration: none;
    color: whitesmoke;
}