.skillname {
  color: white;
  font-size: large;
  font-weight: bolder;
  background-color: yellowgreen;
  height: 50px;
  width: 150px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}
