.skillimage{
  height:100px;
  width: 100px;
  border: 2px solid #343b31;
  border-radius: 10px;
  padding: 10px;
}
.skillscontent{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.box{
  margin-top: 20%;
}