::-webkit-scrollbar{
    display: none;
  }
  
html {
    scroll-behavior: smooth;
}

:root{
  background-color: #09090b;
  color: white;
  font-family: "Fredoka", sans-serif;
}
body{
  background-color: #09090b;
  padding-top: 80px;
}

  